<% @subreddits_active = true %>
<div class="center container">
   <% if params[:post].nil? || params[:post].empty?
      @title = "Post not found"
      %>
   <h2 class="bold">Post not found.</h2>
   <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-floating pulse blue-grey"><i class="material-icons">arrow_back</i></a>
   <% elsif @posts.find_by id: params[:post]
      @title = "Comments"
      posted_subreddit = (@subreddits.find_by id: (@posts.find_by id: params[:post]).subreddit_id).name
      posted_subreddit_user_id = (@subreddits.find_by id: (@posts.find_by id: params[:post]).subreddit_id).user_id
      original_poster = (@users.find_by id: (@posts.find_by id: params[:post]).user_id).username %>
   <h2 class="bold"><a href="subreddits?r=<%= posted_subreddit %>" class="black-text"><%= posted_subreddit %></a></h2>
   <div class="card blue-grey white-text">
      <div class="card-content">
         <span class="card-title">Post</span>
         <a href="users?u=<%= original_poster %>"><span class="bold"><%= original_poster %></span></a><br><br>
         <%= (@posts.find_by id: params[:post]).content %>
      </div>
   </div>
   <br>
   <ul class="collection with-header blue-grey">
      <li class="collection-header blue-grey white-text">
         <h5>Comments</h5>
      </li>
      <%
         @comments.each do |comment|
            comment_poster = (@users.find_by id: comment.user_id).username
            if comment.post_id.to_s == params[:post] %>
      <li class="collection-item blue-grey white-text" id="comment<%= comment.id %>"><%= comment.content %><br><a href="users?u=<%= comment_poster %>" class="bold"><%= comment_poster %></a>
        <% if comment.user_id == (@posts.find_by id: params[:post]).user_id %><span class="bold" title="Original Poster">[OP] </span><% end %> <% if comment.user_id == posted_subreddit_user_id %><span class="bold" title="Subreddit Owner">[O]</span><% end %>
        <div class="hide" id="comment<%= comment.id %>-exitbutton"><br><a href="comments?post=<%= (@posts.find_by id: params[:post]).id %>"><i class="material-icons">close</i></a></div></li>
      <%
         end
         end
         %>
   </ul>
   <% else
      @title = "Post not found"
      %>
   <h2 class="bold">Post not found.</h2>
   <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-floating pulse blue-grey"><i class="material-icons">arrow_back</i></a>
   <% end  %>
</div>
